.profile-form-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
  }
  .profile-edit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
  }
h5{
    font-size: 14px;
    line-height: 22px;
    padding-top: 6px;
    margin-bottom: 16px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #777777;
  }  
  

  .mi-path {
   /*  fill: blue; Estilo normal del relleno del path */
    transition: fill 0.3s ease; /* Agrega una transición suave */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse */
    /* Otros estilos para el path si es necesario */
  }
  
  .mi-path:hover {
    fill: gray; /* Estilo del relleno cuando el mouse está sobre el path */
  }